<div class="screen-view" ng-controller="GameScreenCtrl as gameScreen">
	<nav id="main-nav">
		<ul ng-style="gameScreen.navStyle">
			<li 
				ng-repeat="item in gameScreen.menu"
				ng-style="item.style">
					{{item.name}}
			</li>
		</ul>
	</nav>
	
	<div ng-controller="ScreenCtrl as screen">
		<screen-wrapper
			ng-style="screen.screenStyle"
			menu="gameScreen.menu"
			nav-style="gameScreen.navStyle">

			<div 
				ng-controller="SettingsCtrl as settings"
				ng-show="gameScreen.menu[1].url == 'settings'">

				<label>Difficulty :</label>
				<wp-select
					model="settings.difficulty"
					options="settings.difficultyOptions">
				</wp-select>

				<label>Speed :</label>
				<wp-select
					model="settings.speed"
					options="settings.speedOptions">
				</wp-select>

				<label>Control :</label>
				<wp-select
					model="settings.control"
					options="settings.controlOptions">
				</wp-select>
			</div>

			<div 
				ng-controller="GameCtrl as game"
				ng-show="gameScreen.menu[1].url == 'playgame'">

				<p ng-show="game.win">You win!!!!<br />Your score is {{game.score}}. Other results you can see on the page "Score".</p>
				<p ng-show="game.lose">You lose(((<br />Your score is {{game.score}}. Other results you can see on the page "Score".</p>
				
				<p ng-show="!game.isStarted">To start game press the button "Start Game".</p>

				<p ng-show="game.isStarted">To resume game press the button "Resume Game".</p>
				<p ng-show="game.isStarted">To end game press the button "End Game".</p>
				<p>To pause game double tap on the screen.</p>

				<button 
					ng-click="game.startGame()"
					ng-show="!game.isStarted">
					Start Game
				</button>

				<button 
					ng-click="game.resumeGame()"
					ng-show="game.isStarted">
					Resume Game
				</button>

				<button 
					ng-click="game.endGame()"
					ng-show="game.isStarted">
					End Game
				</button>

				<field
					hm-doubletap="game.pauseGame()" 
					ng-show="game.isShowField"></field>
				
			</div>

			<div 
				ng-controller="ScoreCtrl as score"
				ng-show="gameScreen.menu[1].url == 'score'">

				<ul class="score">
					<li>
						<span>User</span>
						<span>Score</span>
					</li>
					<li ng-repeat="scoreResult in score.scoreResults">
						<span>{{scoreResult.user}}</span>
						<span>{{scoreResult.score}}</span>
					</li>
				</ul>
			</div>

		</screen-wrapper>
	</div>
</div>