<div class="screen-view" ng-controller="GameScreenCtrl as gameScreen">
	<nav id="main-nav">
		<ul ng-style="gameScreen.navStyle">
			<li 
				ng-repeat="item in gameScreen.menu"
				ng-style="item.style">
					{{item.name}}
			</li>
		</ul>
	</nav>
	
	<div ng-controller="ScreenCtrl as screen">
		<screen-wrapper
			ng-style="screen.screenStyle"
			menu="gameScreen.menu"
			nav-style="gameScreen.navStyle">

			<div 
				ng-controller="SettingsCtrl as settings"
				ng-show="gameScreen.menu[1].url == 'settings'">

				<label>Difficulty :</label>
				<wp-select
					model="settings.difficulty"
					options="settings.difficultyOptions">
				</wp-select>

				<label>Speed :</label>
				<wp-select
					model="settings.speed"
					options="settings.speedOptions">
				</wp-select>

				<label>Control :</label>
				<wp-select
					model="settings.control"
					options="settings.controlOptions">
				</wp-select>
			</div>

			<div 
				ng-controler="GameCtrl as game"
				ng-show="gameScreen.menu[1].url == 'playgame'">

				<p>To start game press the button "Start".</p>
				<p>To pause game double tap on the screen.</p>
				<button ng-click="game.startGame()">Start</button>
			</div>

			<div 
				ng-controller="ScoreCtrl as score"
				ng-show="gameScreen.menu[1].url == 'score'">
			</div>

		</screen-wrapper>
	</div>
</div>