@font-face {
    font-family: 'segoeui';
    src: url('fonts/Segoe UI/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuib';
    src: url('fonts/Segoe UI/segoeuib.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuii';
    src: url('fonts/Segoe UI/segoeuii.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuil';
    src: url('fonts/Segoe UI/segoeuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuiz';
    src: url('fonts/Segoe UI/segoeuiz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seguisb';
    src: url('fonts/Segoe UI/seguisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuil';
    src: url('fonts/weblysleek_ui/weblysleekuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuili';
    src: url('fonts/weblysleek_ui/weblysleekuili.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuisb';
    src: url('fonts/weblysleek_ui/weblysleekuisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuisbi';
    src: url('fonts/weblysleek_ui/weblysleekuisbi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuisl';
    src: url('fonts/weblysleek_ui/weblysleekuisl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleekuisli';
    src: url('fonts/weblysleek_ui/weblysleekuisli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}