@import "../vendor/normalize-scss/_normalize";
@import "media.scss";
@import "fonts.scss";

$white: #fff;
$black: #000;
$gray: #6b6b6b;
$red: #e50303;
$green: #24dd00;

$font1: 42px;
$font2: 15px;
$font3: 12px;

body {
	background: #000;
	padding: 18px 13px;
    overflow: hidden;

	#main-nav {
		width: 100%;
		overflow: hidden;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			white-space: nowrap;

			li {
				display: inline-block;
				font-size: $font1;
				color: $gray;
				font-family: segoeui;

				&:nth-child(2) {
					color: $white;
				}
			}
		}
	}

	.screen-view {
		overflow: hidden;

		> div {
			height: 100%;
			position: fixed;
			top: 0px;
			left: 0;
			right: 0;
			padding: 75px 13px 18px 13px;
			box-sizing: border-box;

		}

		.game-field {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;

			table {
				width: 100%;
				height: 100%;
				border: 1px solid $black;

				td {
					width: 8px;
					height: 8px;
					background: $white;

					&.active {
						background: $black;
						border-radius: 5px;
					}

					&.acitve.head {
						background: $red;
					}
				}
			}
		}

		.screen-wrapper {
			width: 100%;
			height: 100%;
			overflow: auto;
			
			> div {
				width: 100%;
			}
		}

		label {
            display: block;
            font-family: segoeui;
			font-size: $font3;
			color: $white;
            margin-bottom: 6px;
		}

        input[type="text"],
        input[type="password"] {
            width: 100%;
        }

        input,
        button {
            display: block;
            height: 24px;
            box-sizing: border-box;
            border: 2px solid $white;
            color: $white;
            background: $black;
            font-size: $font2;
            margin-bottom: 14px;
            padding-left: 5px;
            box-sizing: border-box;
        }

        div.has-error {
	        input {
	        	margin-bottom: 2px;
	        }

	        .error {
	        	color: $red;
	        	font-size: $font3;
	        	margin: 0 0 14px;
	        }
        }

        p {
        	color: $white;
        	font-size: $font2;
        }

        input[disabled="disabled"] {
            border: 2px solid $gray;
            color: $gray;
        }

        .wp-select-wrapper {
			@extend input;
			overflow: hidden;
			padding-left: 0;

			.wp-option {
				line-height: 20px;
				height: 20px;
				padding-left: 5px;
				-webkit-transition: 0.4s all;
						transition: 0.4s all;
			}

			&.no-clickable {
				border-color: $green;
				background: $white;

				.wp-option.active {
					color: $green;
				}
				
				.wp-option {
					color: $black;
				}
			}

			&.expanded {
				.wp-option {
					// line-height: 35px;
					height: 27px;
					padding-top: 8px;
				}
			}
        }
	}
}
