<div class="screen-view" ng-controller="GameScreenCtrl as gameScreen">
	<nav id="main-nav">
		<ul ng-style="gameScreen.navStyle">
			<li 
				ng-repeat="item in gameScreen.menu"
				ng-style="item.style">
					{{item.name}}
			</li>
		</ul>
	</nav>
	
	<div ng-controller="ScreenCtrl as screen">
		<screen-wrapper
			ng-style="screen.screenStyle"
			menu="gameScreen.menu"
			nav-style="gameScreen.navStyle">

			<screen-item 
				ng-controller="SettingsCtrl as settings"
				ng-show="gameScreen.menu[1].url == 'settings'">

				<label>Difficulty :</label>
				{{settings}}
				<wp-select
					model="settings.userSettings.difficulty"
					options="settings.userSettings.difficultyOptions">
				</wp-select>

			</screen-item>

			<screen-item 
				ng-controler="GameCtrl as game"
				ng-show="gameScreen.menu[1].url == 'playgame'">
			</screen-item>

			<screen-item 
				ng-controller="ScoreCtrl as score"
				ng-show="gameScreen.menu[1].url == 'score'">
			</screen-item>

		</screen-wrapper>
	</div>
</div>