<div class="screen-view" ng-controller="GameScreenCtrl as gameScreen">
	<nav id="main-nav">
		<ul ng-style="gameScreen.navStyle">
			<li 
				ng-repeat="item in gameScreen.menu"
				ng-style="item.style">
					{{item.name}}
			</li>
		</ul>
	</nav>
	
	<div class="screen-wrapper">
		<div ng-controller="SettingsCtrl as settings">
			<label>Difficulty :</label>
			<select 
					ng-model="settings.userSettings.difficulty" 
					ng-options="c for c in settings.userSettings.difficultyOptions">
			</select>
		</div>

		<div ng-controler="GameCtrl as game">
			
		</div>

		<div ng-controller="ScoreCtrl as score">
			
		</div>
	</div>

</div>